body {
	width: 1000px;
	margin: 0 auto;	
	text-align: center;
	font-family: Calibri,sans-serif;
}

h1 {
	margin: 10px auto;
	font-size: 30px;
	text-align: center;
	color: #FFFFFF;
	background-color: #191919;
}

#description {
	margin: 25px 0px 25px 0px;
	font-size: 18px;
	font-style: italic;
}

#data_box {
	text-align: left;
	width: 600px;
	margin: 0px auto;
}

#data_box h2 {
	font-weight: normal;
	font-size: 16px;
	margin: 0px 0px 2px 0px;
}

.clear_div {
	clear:both;
}

.answer {
	float:right;
	font-weight: bold;
	margin: 0px;
}

svg {
	margin-top: 20px;
}

.state {
	fill:#DFE2DB;
	stroke:#fff;
	stroke-width:0.75;
	stroke-opacity:1;
	cursor: pointer;
}

#footer {
	margin-top: 40px;
	border: solid #191919 2px;
}

#footer h1 {
	padding-bottom: 5px;
	margin: 0px;
	font-size: 18px;
}

ul {
	padding: 0px;
	margin: 0px auto;
	list-style-type: none;
}

li {
	width:33%;
	padding: 5px 0px 5px 0px;
	margin: 0px;
	float:left;
}

li a {
	font-size: 16px;
	text-decoration: none;
	background-color: #FFFFFF;
	color: #191919;	
}

li a:hover {
	background-color: #FFF056;
}

#copyright {
	float: right;
	margin-bottom: 30px;
}